#RPS, #pigLatinizer, #MovieAPI, #Giffinder, #PlayList{
    height: 150px;
    width: 200px;
}

#RPS-title, #pigLatinizer-title, #MovieAPI-title, #Giffinder-title, #PlayList-title{
    font-size: 25px;
}
