/* Nav Bar CSS */
.Photo{
    height: 150px; 
    width: 200px;
}

.img-thumbnail{
    height: 150px;
    width: 200px;
}

#Jian{
    font-size: 40px;
}


.Kim{
    height: 300px;
    width: 400px;
}
/* Header CSS */



/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */


